.right01,.right02,.right03{
  height: 30%;
  margin-bottom: 14%;
}
.right01{
	height: 23%;
}
.right01_url .span_right{
	line-height: 36px;
}
.right01 .right01_title{
	height: 68%;
}
.right01_title{
	background: rgba(39,90,121,.6);
	
}
.right01 .right01_title{
	margin-top:15px;
}
.right01 .right01_title span{
/*   height: 30%; */
}
.typeValue{
	margin-bottom: 20px;
}
.left .lefPie{
	background: url(../image/leftBg.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 260px;
	float: left;
	padding-top:20px;
	position: relative;
}
.left .lefPie .title{
    font-size: 20px;
    color: #83e6fb;
     position:absolute;
     top: 6px;
     left: 28px;
    float: left;
}
.lefPie .box{
  position:absolute;
  top: 30px;
  width:280px;
  height: 280px;
   
  background:url(../image/pie_bg.png) no-repeat 32px top;
  background-size: 145px 145px;
  zoom:1;
}
.lefPie .cfsEcharts{
	width: 100%;
	height: 100%;
	margin:-8px 0 0 -45px;
}
.pie2{
	position: absolute;
	right: -30px;
}  
.cfsInfo {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 145px;
    left: -10px;
}/*信息栏目公共样式*/
.cfsInfo>li{
    width: auto;
    margin: 10px auto;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
/*信息栏 - 类型名称*/
.cfsInfo>li:nth-child(1) {
    height: 30px;
    font-size: 20px;
    text-align: left;
    margin-left: 25%;
    line-height: 30px;
    color: #fff;
}

/*信息栏 - 同比百分百(箭头)*/
.cfsInfo>li:nth-child(2) p{
    position: absolute;
    top:3px;
    right: 50px;
    width: 20px;
    height: 24px;
}
.cfsInfo>li:nth-child(2) .up{
    background: url(../image/icon_up.png) no-repeat center;

}
.cfsInfo>li:nth-child(2) .down{
    background: url(../image/icon_down.png) no-repeat center;
}
/*信息栏 - 去年/今年/平均数量*/


.cfsInfo>li:nth-child(3),
.cfsInfo>li:nth-child(4),
.cfsInfo>li:nth-child(5){
    position: relative;
    padding: 5px auto;
    height: 22px;
    line-height: 20px;
    margin: 0 auto;
    text-align: left;
    
    overflow: hidden;
}

.cfsInfo>li:nth-child(2)>i:nth-child(1),
.cfsInfo>li:nth-child(3)>i:nth-child(1){
    position: absolute;
    left: 70px;
    display: inline-block;
    width: 4px;
    height: 20px;
    margin-right: 10px;
}

.cfsInfo>li:nth-child(2)>i:nth-child(2),
.cfsInfo>li:nth-child(3)>i:nth-child(2){
    position: absolute;
    left:84px ;
    display: inline-block;
    width: auto;
    text-align: left;
    font-style: normal;
}